body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0%;
  background-color: #20293a;
}
.image-form {
  display: flex;
  align-items: center;
}

.search-bar {
  width: 24em;
  display: flex;
  background-color: #20293a;
  border-radius: 5px;
  overflow: hidden;
}

input {
  flex: 1;
  padding: 20px;
  border: none;
  outline: none;
  background-color: #20293a;
  color: #fff;
  /* Custom styling for the typing text */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

button {
  background-color: #20293a;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #394867;
}

/* Adjust the icon color if needed */
.image-container svg {
  color: #fff;
}
.image-container img {
  margin: auto;
  width: 100vw;
  height: 40vh;
  max-width: 100vw;
  object-fit: cover;
}
p {
  font-size: large;
  font-weight: 500;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 40px;
  width: 80%;
  max-width: 1000px;
  align-items: center;
  max-width: 600px;
}

#followers,
#following,
#location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  font-size: smaller;

  margin: 5px; /* Adjust margins between items */
  text-align: center; /* Center text horizontally */
  border-radius: 10px;
  background-color: #111729;
  padding-left: 0.8%;
  padding-right: 0.8%;
}
#location {
  flex: 2.5;
  width: 250px; /* Set a fixed width for the Location div */
  max-height: 60%;
}
#followers p:first-of-type,
#following p:first-of-type,
#location p:first-of-type {
  color: #4a5567;
  font-weight: 600;
}

.profile-image img {
  max-width: 100%;
  border-radius: 10%;
}
.profile-image {
  background-color: #20293a;
  position: relative;
  bottom: 36px;
  padding: 10px;
  min-width: 100px;
  width: 10%;
  border-radius: 20px;
}
.profile-container {
  display: flex;
  margin: auto;
  max-width: 80%;
  justify-content: space-around;
}
#namebio {
  margin: auto;
  max-width: 74%;
  p {
    color: #49576d;
  }
}
#namebio h1 {
  font-weight: 500;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.line {
  border: 0.6px solid #4a5567;
  height: 50%;
  margin: 5px;
}
ul {
  margin: 0;
  padding: 0;

  text-emphasis: none;
  color: white;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: auto;
}

.project-link {
  width: 100%;
  height: 100%;
  text-emphasis: none;
  color: white;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#repositories {
  margin: auto;
  max-width: 1250px;
}
.project-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  max-width: 500px;
  background-image: linear-gradient(to right, #111729, #1d1b48);
  border-radius: 10px;
  padding: 15px;
  min-height: 100px;
  margin: 20px;

  #name {
    font-weight: 600;
  }

  #description {
    color: #4a5567;
    font-weight: 600;
    font-size: smaller;
  }
}
#showallbtn {
  padding: 10px;
  text-align: center;
  border: none;
  font-size: large;
  background: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: start;
  section {
    color: #4a5567;
    margin: 5px;
    font: 1em sans-serif;
    font-weight: 600;
    font-size: smaller;
  }
}
.error,
.loading {
  color: #4a5567;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30%;
}
.error2 {
  color: #ff2d2d;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 767px) {
  .image-container img {
    height: 30vh;
    object-fit: cover;
  }
  .image-container {
    overflow: hidden;
  }

  #namebio {
    margin: auto;
    max-width: 90%;
    h1 {
      font-size: 2.5rem;
    }
    p {
      color: #49576d;
    }
  }
  #followers,
  #following,
  #location {
    padding-left: 1%;
    padding-right: 1%;
  }
}
.image-form {
  display: flex;
  width: fit-content;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
form {
  padding: 2rem;
}
